$primary-text-color:#7C6A0A;
$tertiary-color:#BABD8D;
$secondary-color:#FFDAC6;
$primary-color: #FFEFE7;
$dark-orange:#E86424;
$soft-orange:#FA9500;
$font-ibm: "IBM Plex Sans", sans-serif;

body{
   margin: 0;
   padding: 0;
}