$primary-text-color:#7C6A0A;
$tertiary-color:#BABD8D;
$secondary-color:#FFDAC6;
$primary-color: #FFEFE7;
$dark-orange:#E86424;
$soft-orange:#FA9500;
$font-ibm: "IBM Plex Sans", sans-serif;

body{
   margin: 0;
   padding: 0;
   background-color: $primary-color;
   font-family: $font-ibm;
}
nav{
    width: auto;
    height: 100px;
    color: $primary-text-color;
    display: flex;
    justify-content: space-between;
    padding:  34px 86px 0 86px;
    p{
        font-weight: 400;
        line-height: 40px;
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 16px;
        button{
            background:none;
            border-style: none;
        }
    }
}
article{
    width: auto;
    padding: 76px 70px 0 70px;
    color: $primary-text-color;
    display: flex;
    justify-content: space-between;
    .impact-section{
        width: 50%;
        h1{
            font-weight: 600;
            font-size: 3rem;
            line-height: 78px;
            margin-bottom: 60px;
        }
        p{
               font-weight: 400;
               font-size: 1.5rem;
               line-height: 32px; 
            margin-bottom: 60px;
        }
        button{
            border-radius: 36px;
            background-color: $soft-orange;
            font-weight: 700;
            font-size: 1rem;
            line-height: 30px;
            color: $primary-color;
            padding: .5rem 2.5rem;
            border: none;
        }
    }
    .image-section{
        img{
            max-width: 400px;
            border-radius: 20px;
        }
    }
}
section{
    width: 100%;
    height: auto;
    background-color: $primary-color;
    padding: 100px 74px 0;
    h2{
        color: $primary-text-color;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 66px;
    }
    .healthcare{
        .product-card{
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            width: 324px;
            height: auto;
            background-color: $secondary-color;
            img{
                width: 250px;
                height: 300px;
                background-image: cover;
                border-radius: 10px;
            }
        }
    }
}
footer{
    background-color: $soft-orange;
    width: 100%;
    height: 250px;
}