$primary-text-color:#7C6A0A;
$tertiary-color:#BABD8D;
$secondary-color:#FFDAC6;
$primary-color: #FFEFE7;
$dark-orange:#E86424;
$soft-orange:#FA9500;
$font-ibm: "IBM Plex Sans", sans-serif;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button{
        background: none;
        border-style: none;
    }
}

body{
   margin: 0;
   padding: 0;
   background-color: $primary-color;
   font-family: $font-ibm;
}
nav{
    width: auto;
    height: 100px;
    color: $primary-text-color;
   @include flexCenter(row, space-between, center );
    padding:  34px 86px 0 86px;
    p{
        font-weight: 400;
        line-height: 40px;
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 16px;
        @include buttonStyle();
    }
}
article{
    width: auto;
    padding: 76px 70px 0 70px;
    color: $primary-text-color;
   @include flexCenter(row, space-between, center );
    .impact-section{
        width: 50%;
        h1{
            font-weight: 600;
            font-size: 3rem;
            line-height: 78px;
            margin-bottom: 60px;
        }
        p{
               font-weight: 400;
               font-size: 1.5rem;
               line-height: 32px; 
            margin-bottom: 60px;
        }
        @include buttonStyle();
        button{
            border-radius: 36px;
            background-color: $soft-orange;
            font-weight: 700;
            font-size: 1rem;
            line-height: 30px;
            color: $primary-color;
            padding: .5rem 2.5rem;
           
        }
    }
    .image-section{
        img{
            max-width: 400px;
            border-radius: 20px;
        }
    }
}
section{
    width: auto;
    height: auto;
    background-color: $primary-color;
    padding: 100px 74px 0;
    h2{
        color: $primary-text-color;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 66px;
    }
    .healthcare{
        padding-bottom: 60px;
        .card-section{
            @include flexCenter(row, space-evenly, center);
            width: auto;
            height: auto;
            column-gap: 200px;
            row-gap: 80px;
            flex-wrap: wrap;
        }
        .product-card{
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            width: 14vw;
            height: 45vh;
            background-color: $secondary-color;
            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg{
                    width: 28px;
                    height: 28px;
                }
            }
            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
    .furniture{
        @extend .healthcare;
        .product-card{
            color: $primary-color;
            background-color: $tertiary-color;
        }
    }
}
footer{
    background-color: $soft-orange;
    width: 100%;
    height: 250px;
}